.theme-meething {
    /* Basics */
    --color-primary-text: #000;
    --color-bg: #FFF;
    --color-bg-transparant: #FFFbb;
    --color-bg-shadow: #000000FF;
    --color-button: #b1accb;
    --color-shadow-text: #b9b9b9;
    --logo-url: url('https://i.imgur.com/XS79fTC.png');
    /* Top menu */
    --color-top-menu-button-bg: #b1accb;
    --color-top-menu-button-hover: #b1accb;
    /* Start */
    --color-selfview: #FFF;
    --color-options: #f1eef8;
    --color-source-buttons: #b1accb;
    --color-bg-slider-buttons: #CCC;
    --color-slider-buttons-checked: #2196F3;
    --color-slider-buttons-disabled: #eb5757;
    /* Chat */
    --color-msg-send-bg: #ffffffda;
    --color-msg-send-text: #474747;
    --color-msg-received-bg: #d7f7c5;
    /* Remote videos */
    --color-remote-video-bg: #FFF;
    --color-remote-widget-button: #b1accb;
    /* Notification colors */
    --color-bg-warning: #eb5757;
}

.theme-alternative {
    /* Basics */
    --color-primary-text: #FFF;
    --color-bg: #1d102a;
    --color-bg-transparant: #1d102abb;
    --color-bg-shadow: #000000FF;
    --color-button: #473160;
    --color-shadow-text: #b9b9b9;
    --logo-url: url('https://i.imgur.com/sWCLPcn.png');
    /* Top menu */
    --color-top-menu-button-bg: #b1accb;
    --color-top-menu-button-hover: #b1accb;
    /* Start */
    --color-selfview: #1d102a;
    --color-options: #473160;
    --color-source-buttons: #b1accb;
    --color-bg-slider-buttons: #CCC;
    --color-slider-buttons-checked: #2196F3;
    --color-slider-buttons-disabled: #eb5757;
    /* Chat */
    --color-msg-send-bg: #1d102ada;
    --color-msg-send-text: #474747;
    --color-msg-received-bg: #d7f7c5;
    /* Remote videos */
    --color-remote-video-bg: #1d102a;
    --color-remote-widget-button: #473160;
    /* Notification colors */
    --color-bg-warning: #eb5757;
}